<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	>

	<bean id="message" class="com.gavin.springStudy.bean.Message" init-method="init" destroy-method="destroy">
		<property name="message" value="Hello World!"/>
	</bean>
	
	<!--  <bean class="com.gavin.springStudy.beanPostProcessor.initMessage" /> -->
	
	<bean id="messageParent" class="com.gavin.springStudy.bean.MessageParent">
		<property name="message1" value="Hello Parent!"/>
		<property name="message2" value="Namaste India!"/>
	</bean>
	
	<bean id="messageChild" class="com.gavin.springStudy.bean.MessageChild" parent="messageParent">
		<property name="message1" value="Hello Chile!"/>
		<property name="message3" value="Hello Second World!"/>
	</bean>
	
	<bean id="textEditor" class="com.gavin.springStudy.bean.TextEditor">
		<constructor-arg ref="spellChecker"/>
	</bean>
	
	<bean id="spellChecker" class="com.gavin.springStudy.bean.SpellChecker">
	</bean>
	
	
	
</beans>